<?xml version="1.0" encoding="utf-8"?>
<!-- Attention, Activate a function should be checked First with Debug Options -->
<Configuration>
    <debug>true</debug>
    <LogFile Name="Default" />
    <AD1 DC="dc1.test.local" DN="DC=test,DC=local" OUList="OU1,OU2">
        <OU1 Name="1111" GroupNames="DEMU,DETU" Pattern="testot" />
        <OU2 Name="2222" GroupNames="DEMU,DETU" Pattern="testot" />
    </AD1>
</Configuration>