<?xml version="1.0" encoding="utf-8"?>
<!-- Attention, Activate a function should be checked First with Debug Options -->
<Configuration>
    <debug>true</debug>
    <LogFile Name="Default" />
    <AD1 DC="win.dom.sandvik.com" DN="DC=win,DC=dom,DC=sandvik,DC=com" OUList="OU1,OU2,OU3">
        <OU Name="3422" GroupNames="DEFR,DENI,DEMU,DERT,DETU,DEZE" Pattern="Walter.OT" />
        <OU Name="3428" GroupNames="DEFR,DENI,DEMU,DERT,DETU,DEZE" Pattern="Walter.OT" />
        <OU Name="3434" GroupNames="DEFR,DENI,DEMU,DERT,DETU,DEZE" Pattern="Walter.OT" />
    </AD1>
    <AD2 DC="ot.local" DN="" OUList="">

    </AD2>
</Configuration>